
html {
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Fira+Code">
    font-family: 'Fira Code', monospace;
}

body {
    background-color: rgba(40, 40, 40, 1);
   
    padding-left: 20px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 200px;
    border: 2px solid #ebdbb2;
    font-family: 'Fira Code', monospace;
}
img {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255);
}

* {
    color: #ebdbb2;
}

a { color : #458588}

body > nav:nth-child(1) > ul:nth-child(1) {
	list-style-type: none;
	display: inline;
}
#contact { 
    position: absolute;
    right: 50px;
    margin-top: -130px;
}

#contact > img {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    top: 20px;
}

#Professional-summary {
    position: relative;
    margin-top : 50px;
}

body > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(1) {
    position: relative;
    background-color: rgba(40, 40, 40, 1);
    border-radius: 5px;
    border: 2px solid #ebdbb2;
    color: #ebdbb2;
    width: 60px;
}

body > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(2) {
    position: relative;
    margin-top: -24px;
    margin-left: 70px;
    color : #ebdbb2;
    border-radius: 5px;
    border: 2px solid #ebdbb2;
    width: 80px;

}
a:link  {
    color :#ebdbb2;
}
